<!DOCTYPE html>
<html lang="en" class="hydrated">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="../static/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="../static/font-awesome/css/brands.css" rel="stylesheet">
    <link href="../static/font-awesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/font-awesome/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Document</title>
</head>
<body>

<nav class="top-bar fixed">
    <a class="navbar-brand" href="#">Travel <br> In Israel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style
        component for calling extra attention to featured content or information.
        component for calling extra attention to featured content or information
        component for calling extra attention to featured content or information
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">See more</a>
</div>
<!-- ABOUT -->
<article class="about" id="about">
    <h1 class="text-center">About Me</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <figure>
                    <img src="../static/images/abir.jpg" class="img-fluid">
                </figure>
                <figcaption>
                    <span class="text-justify text-muted">S.Web Developer</span>
                </figcaption>
            </div>
            <div class="col-md-8 col-sm-12 desc">
                <h3>Abeer Zreeke</h3>
                <p class="text-muted">
                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>
    </div>
</article>


<h1 class="text-center">Portfolio</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="thumbnail" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/haifa.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col">
            <div class="thumbnail" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/telaviv.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col">
            <div class="thumbnail" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/aco.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="thumbnail" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/yafa.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col">
            <div class="thumbnail" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/yam.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col">
            <div class="thumbnail" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/jur.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
</div>


<!-- BLOG -->
<h1 class="text-center">Blog</h1>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="../static/images/aesh.jpg" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card titl</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Read more</a>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/beach.jpg" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Read more</a>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/wallk.jpg" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Read more</a>
            </div>
        </div>
    </div>
</div>

<!-- TEAM -->
<h1 class="text-center">Our Team</h1>
<div class="flex-container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 ">
            <div class="card h-100" class="thumbnail" style="width: 10rem;">
                <img src="../static/images/abir.jpg" class="card-img-top" alt="Card image cap">
                <div class="card-footer ">
                    <h style="font-size: 10px;">Manger</h>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" class="thumbnail" style="width: 10rem;">
                <img src="../static/images/abr.jpg" class="card-img-top" alt="Card image cap">
                <div class="card-footer ">
                    <h style="font-size: 10px;">S.enginner</h>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" class="thumbnail" style="width: 10rem;">
                <img src="../static/images/aber.jpg" class="card-img-top" alt="Card image cap">
                <div class="card-footer ">
                    <h style="font-size: 10px;">Front End Developer</h>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" class="thumbnail" style="width: 10rem;">
                <img src="../static/images/abb.jpg" class="card-img-top" alt="Card image cap">
                <div class="card-footer ">
                    <h style="font-size: 10px;">Team Manger</h>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<section class="contact">
    <h2>&nbsp</h2>
    <div class="container">
        <hr>
        <form>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h1>Get in Touch</h1>
                    <address>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin-in"></a>
                    </address>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>